myspring/web-client/src/main/resources/schemas/wsForNodeServices.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.hifreud.com/ws/demo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.micro.com/ws/WsForNodeServices" targetNamespace="http://www.micro.com/ws/WsForNodeServices">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.hifreud.com/ws/demo" elementFormDefault="qualified" targetNamespace="http://www.hifreud.com/ws/demo">
            <element name="wsForNodeServicesResponse">
                <complexType>
                    <sequence>
                        <element name="wsForNodeServices">
                            <complexType>
                                <sequence>
                                    <element maxOccurs="1" minOccurs="1" name="username" type="string"/>
                                    <element maxOccurs="1" minOccurs="1" name="gender" type="string"/>
                                    <element maxOccurs="1" minOccurs="1" name="location" type="string"/>
                                    <element maxOccurs="unbounded" name="rsSet">
                                        <complexType>
                                            <sequence>
                                                <element maxOccurs="1" minOccurs="1" name="acc" type="string"> </element>
                                            </sequence>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="wsForNodeServicesRequest">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="userId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="wsForNodeServicesResponse">
        <wsdl:part element="sch:wsForNodeServicesResponse" name="wsForNodeServicesResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="wsForNodeServicesRequest">
        <wsdl:part element="sch:wsForNodeServicesRequest" name="wsForNodeServicesRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WsForNodePortType">
        <wsdl:operation name="wsForNodeServices">
            <wsdl:input message="tns:wsForNodeServicesRequest" name="wsForNodeServicesRequest"> </wsdl:input>
            <wsdl:output message="tns:wsForNodeServicesResponse" name="wsForNodeServicesResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WsForNodePortTypeSoap11" type="tns:WsForNodePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="wsForNodeServices">
            <soap:operation soapAction=""/>
            <wsdl:input name="wsForNodeServicesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="wsForNodeServicesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WsForNodePortTypeService">
        <wsdl:port binding="tns:WsForNodePortTypeSoap11" name="WsForNodePortTypeSoap11">
            <soap:address location="http://127.0.0.1:8080/ws/WsForNodeServices.wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>