myspring/web-client/src/main/resources/schemas/wsForAttrServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.hifreud.com/ws/demo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.hifreud.com/webservice" targetNamespace="http://www.hifreud.com/webservice">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.hifreud.com/ws/demo" elementFormDefault="qualified" targetNamespace="http://www.hifreud.com/ws/demo">
            <element name="Root">
                <complexType>
                    <sequence>
                        <element name="User1Response">
                            <complexType>
                                <sequence>
                                    <element maxOccurs="1" minOccurs="1" name="username" type="string"/>
                                    <element maxOccurs="1" minOccurs="1" name="gender" type="string"/>
                                    <element maxOccurs="1" minOccurs="1" name="birthday" type="date"/>
                                    <element maxOccurs="1" minOccurs="1" name="location" type="string"/>
                                    <element maxOccurs="unbounded" name="rsSet">
                                        <complexType>
                                            <sequence>
                                                <element maxOccurs="1" minOccurs="1" name="acc" type="string"> </element>
                                            </sequence>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                    <attribute name="topic" type="string" use="required"/>
                </complexType>
            </element>
            <element name="User1Request">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="userId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="User1Request">
        <wsdl:part element="sch:User1Request" name="User1Request"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserPortType">
        <wsdl:operation name="User1">
            <wsdl:input message="tns:User1Request" name="User1Request"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserPortTypeSoap11" type="tns:UserPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="User1">
            <soap:operation soapAction=""/>
            <wsdl:input name="User1Request">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserPortTypeService">
        <wsdl:port binding="tns:UserPortTypeSoap11" name="UserPortTypeSoap11">
            <soap:address location="http://localhost:8080/ws/MyUserServices.wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>